openapi: 3.0.1
info:
  title: METRC API
  description: This document is created and maintained by the community and is designed to be a non-state specific specification. Please refer to your regions documentation for specific details and deviations. https://api-<state/province code>.metrc.com/documentation.Please keep in mind that there are rate limits and other terms of use enforced by Franwell (METRC). This document is only designed to give developers a standard used for code generation and testing.
  version: v2
servers:
  - url: https://api-al.metrc.com
  - url: https://api-ca.metrc.com
  - url: https://api-co.metrc.com
  - url: https://api-dc.metrc.com
  - url: https://api-gu.metrc.com
  - url: https://api-ky.metrc.com
  - url: https://api-la.metrc.com
  - url: https://api-ma.metrc.com
  - url: https://api-md.metrc.com
  - url: https://api-me.metrc.com
  - url: https://api-mi.metrc.com
  - url: https://api-mn.metrc.com
  - url: https://api-mo.metrc.com
  - url: https://api-ms.metrc.com
  - url: https://api-mt.metrc.com
  - url: https://api-nj.metrc.com
  - url: https://api-nv.metrc.com
  - url: https://api-oh.metrc.com
  - url: https://api-ok.metrc.com
  - url: https://api-or.metrc.com
  - url: https://api-ri.metrc.com
  - url: https://api-sd.metrc.com
  - url: https://api-wv.metrc.com
  - url: https://sandbox-api-al.metrc.com
  - url: https://sandbox-api-ca.metrc.com
  - url: https://sandbox-api-co.metrc.com
  - url: https://sandbox-api-dc.metrc.com
  - url: https://sandbox-api-gu.metrc.com
  - url: https://sandbox-api-ky.metrc.com
  - url: https://sandbox-api-la.metrc.com
  - url: https://sandbox-api-ma.metrc.com
  - url: https://sandbox-api-md.metrc.com
  - url: https://sandbox-api-me.metrc.com
  - url: https://sandbox-api-mi.metrc.com
  - url: https://sandbox-api-mn.metrc.com
  - url: https://sandbox-api-mo.metrc.com
  - url: https://sandbox-api-ms.metrc.com
  - url: https://sandbox-api-mt.metrc.com
  - url: https://sandbox-api-nj.metrc.com
  - url: https://sandbox-api-nv.metrc.com
  - url: https://sandbox-api-oh.metrc.com
  - url: https://sandbox-api-ok.metrc.com
  - url: https://sandbox-api-or.metrc.com
  - url: https://sandbox-api-ri.metrc.com
  - url: https://sandbox-api-sd.metrc.com
  - url: https://sandbox-api-wv.metrc.com
paths:
  '/caregivers/v2/status/{caregiverLicenseNumber}':
    get:
      tags:
        - Caregiver
      description: 'Data returned by this endpoint is cached for up to one minute.</br><b>Permissions Required</b>: Lookup Caregivers'
      operationId: GetCaregiverStatus
      parameters:
        - name: caregiverLicenseNumber
          in: path
          description: Route parameter caregiverLicenseNumber
          required: true
          schema:
            type: string
        - name: licenseNumber
          in: query
          description: The license number of the Facility under which to get the Caregiver status.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CaregiverStatus'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /employees/v2:
    get:
      tags:
        - Employee
      description: '<b>Permissions Required</b>: Manage Employees • View Employees'
      operationId: GetEmployees
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the Facility under which to get the Employees.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EmployeeMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /facilities/v2:
    get:
      tags:
        - Facility
      summary: 'A Facility represents a building licensed for the growing, processing, and/or selling of product.'
      description: 'This endpoint provides a list of facilities for which the authenticated user has access.</br><b>Permissions Required</b>: <i>none</i>'
      operationId: GetFacilities
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Facility'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  '/harvests/v2/{id}':
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Harvest'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v2/active:
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestActive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active harvests.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v2/onhold:
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestOnHold
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of harvests on hold.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v2/inactive:
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestInactive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of inactive harvests.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v2/waste:
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestWaste
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of waste harvests.
          required: true
          schema:
            type: string
        - name: harvestId
          in: query
          description: The harvestId is the unique identifier for each harvest.
          required: true
          schema:
            type: integer
            format: int64
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestWasteMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
    post:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests'
      operationId: PostHarvestWaste
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of harvests waste.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestWasteRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestWasteRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/waste/types:
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetHarvestWasteTypes
      parameters:
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestWasteTypeMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v2/packages:
    post:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests • View Packages • Create/Submit/Discontinue Packages'
      operationId: PostHarvestPackages
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of harvests packages.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestPackagesRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestPackagesRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/packages/testing:
    post:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests • View Packages • Create/Submit/Discontinue Packages'
      operationId: PostHarvestPackageTesting
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of harvests packages.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestPackageTestingRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestPackageTestingRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/location:
    put:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests'
      operationId: PutHarvestLocation
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of harvests locations.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestLocationRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestLocationRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/rename:
    put:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests'
      operationId: PutHarvestRename
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of renamed harvests.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestRenameRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestRenameRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/finish:
    put:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests • Finish/Discontinue Harvests'
      operationId: PutHarvestFinish
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of finished harvests.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestFinishRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestFinishRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/unfinish:
    put:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests • Finish/Discontinue Harvests'
      operationId: PutHarvestUnfinish
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of unfinished harvests.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestUnfinishRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestUnfinishRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/restore/harvestedplants:
    put:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests • Finish/Discontinue Harvests'
      operationId: PutHarvestRestoreHarvestedPlants
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of harvests restored.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestRestoreHarvestedPlantsRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestRestoreHarvestedPlantsRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/harvests/v2/waste/{id}':
    delete:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests • Discontinue Harvest Waste'
      operationId: DeleteHarvestWasteById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of harvests waste.
          required: true
          schema:
            type: string
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/items/v2/{id}':
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Item will be validated against the specified License Number. If not specified, the Item will be validated against all of the User''s current Facilities. Please note that if the Item is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Item'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
    delete:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: DeleteItemById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: The license number of the facility for the Item to delete.
          required: true
          schema:
            type: string
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /items/v2/active:
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemActive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active items.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ItemMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /items/v2/inactive:
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemInactive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of inactive items.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ItemMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /items/v2/categories:
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetItemCategories
      parameters:
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
        - name: licenseNumber
          in: query
          description: 'If specified, the Categories will be retrieved for the specified License Number. If not specified, all Item Categories will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ItemCategoryMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /items/v2/brands:
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemBrands
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active item brands.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ItemBrandMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  '/items/v2/photo/{id}':
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemPhotoById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: The file system id of the image to return.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Photo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /items/v2:
    post:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: PostItems
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemsRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemsRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
    put:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: PutItems
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for the Item updates.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutItemsRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutItemsRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /items/v2/photo:
    post:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: PostItemPhoto
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemPhotoRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemPhotoRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/items/v2/brand/{id}':
    delete:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: DeleteItemBrandById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: The license number of the facility for the Item Brand to delete.
          required: true
          schema:
            type: string
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /items/v2/brand:
    post:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: PostItemBrand
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for the Item Brands to create.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemBrandRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemBrandRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
    put:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: PutItemBrand
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for the Item Brand updates.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutItemBrandRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutItemBrandRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /labtests/v2/states:
    get:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetLabTestStates
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/StringMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /labtests/v2/batches:
    get:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetLabTestBatches
      parameters:
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LabTestBatchMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /labtests/v2/types:
    get:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetLabTestTypes
      parameters:
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LabTestTypeMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /labtests/v2/results:
    get:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages'
      operationId: GetLabTestResults
      parameters:
        - name: packageId
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LabTestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /labtests/v2/record:
    post:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory'
      operationId: PostLabTestRecord
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLabTestRecordRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLabTestRecordRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /labtests/v2/labtestdocument:
    put:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory'
      operationId: PutLabTestLabTestDocument
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility updating the lab test document.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutLabTestLabTestDocumentRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutLabTestLabTestDocumentRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /labtests/v2/results/release:
    put:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory'
      operationId: PutLabTestResultRelease
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility releasing the lab test results.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutLabTestResultReleaseRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutLabTestResultReleaseRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/labtests/v2/labtestdocument/{id}':
    get:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory'
      operationId: GetLabTestLabTestDocumentById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: LabTestDocumentFileId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LabTestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  '/locations/v2/{id}':
    get:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: GetLocationById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Location will be validated against the specified License Number. If not specified, the Location will be validated against all of the User''s current Facilities. Please note that if the Location is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Location'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
    delete:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: DeleteLocationById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to delete the list of locations.
          required: true
          schema:
            type: string
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /locations/v2/active:
    get:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: GetLocationActive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active locations.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LocationMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /locations/v2/inactive:
    get:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: GetLocationInactive
      parameters:
        - name: licenseNumber
          in: query
          description: The License Number of the Facility for which to return the list of inactive Locations.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LocationMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /locations/v2/types:
    get:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: GetLocationTypes
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active location types.
          required: true
          schema:
            type: string
        - name: pageNumber
          in: query
          description: The number of the data page from which to return data.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: The number of records to return per page. Pagination is currently disabled by default. You can enable pagination on this query by specifying a value that does not exceed 20.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LocationTypeMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /locations/v2:
    post:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: PostLocations
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to record the list of locations.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLocationsRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLocationsRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
    put:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: PutLocations
      parameters:
        - name: licenseNumber
          in: query
[...]
