openapi: 3.0.1
info:
  title: METRC API
  description: This document is created and maintained by the community and is designed to be a non-state specific specification. Please refer to your regions documentation for specific details and deviations. https://api-<state/province code>.metrc.com/documentation.Please keep in mind that there are rate limits and other terms of use enforced by Franwell (METRC). This document is only designed to give developers a standard used for code generation and testing.
  version: v1
servers:
  - url: https://api-ak.metrc.com
  - url: https://api-ca.metrc.com
  - url: https://api-co.metrc.com
  - url: https://api-dc.metrc.com
  - url: https://api-gu.metrc.com
  - url: https://api-la.metrc.com
  - url: https://api-ma.metrc.com
  - url: https://api-md.metrc.com
  - url: https://api-me.metrc.com
  - url: https://api-mi.metrc.com
  - url: https://api-mn.metrc.com
  - url: https://api-mo.metrc.com
  - url: https://api-ms.metrc.com
  - url: https://api-mt.metrc.com
  - url: https://api-nj.metrc.com
  - url: https://api-nv.metrc.com
  - url: https://api-oh.metrc.com
  - url: https://api-ok.metrc.com
  - url: https://api-or.metrc.com
  - url: https://api-ri.metrc.com
  - url: https://api-sd.metrc.com
  - url: https://api-wv.metrc.com
  - url: https://sandbox-api-ak.metrc.com
  - url: https://sandbox-api-ca.metrc.com
  - url: https://sandbox-api-co.metrc.com
  - url: https://sandbox-api-dc.metrc.com
  - url: https://sandbox-api-gu.metrc.com
  - url: https://sandbox-api-la.metrc.com
  - url: https://sandbox-api-ma.metrc.com
  - url: https://sandbox-api-md.metrc.com
  - url: https://sandbox-api-me.metrc.com
  - url: https://sandbox-api-mi.metrc.com
  - url: https://sandbox-api-mn.metrc.com
  - url: https://sandbox-api-mo.metrc.com
  - url: https://sandbox-api-ms.metrc.com
  - url: https://sandbox-api-mt.metrc.com
  - url: https://sandbox-api-nj.metrc.com
  - url: https://sandbox-api-nv.metrc.com
  - url: https://sandbox-api-oh.metrc.com
  - url: https://sandbox-api-ok.metrc.com
  - url: https://sandbox-api-or.metrc.com
  - url: https://sandbox-api-ri.metrc.com
  - url: https://sandbox-api-sd.metrc.com
  - url: https://sandbox-api-wv.metrc.com
paths:
  '/caregivers/v1/status/{caregiverLicenseNumber}':
    get:
      tags:
        - Caregiver
      description: 'Data returned by this endpoint is cached for up to one minute.</br><b>Permissions Required</b>: Lookup Caregivers'
      operationId: GetCaregiverStatus
      parameters:
        - name: caregiverLicenseNumber
          in: path
          description: Route parameter caregiverLicenseNumber
          required: true
          schema:
            type: string
        - name: licenseNumber
          in: query
          description: The license number of the Facility under which to get the Caregiver status.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CaregiverStatus'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /employees/v1:
    get:
      tags:
        - Employee
      description: '<b>Permissions Required</b>: Manage Employees'
      operationId: GetEmployees
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Employee'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /facilities/v1:
    get:
      tags:
        - Facility
      summary: 'A Facility represents a building licensed for the growing, processing, and/or selling of product.'
      description: 'This endpoint provides a list of facilities for which the authenticated user has access.</br><b>Permissions Required</b>: <i>none</i>'
      operationId: GetFacilities
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Facility'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  '/harvests/v1/{id}':
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Harvest'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v1/active:
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestActive
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Harvest'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v1/onhold:
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestOnHold
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Harvest'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v1/inactive:
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestInactive
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Harvest'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v1/waste/types:
    get:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: GetHarvestWasteTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/HarvestWasteType'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /harvests/v1/create/packages:
    post:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: PostHarvestCreatePackages
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestCreatePackagesRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestCreatePackagesRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v1/create/packages/testing:
    post:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: PostHarvestCreatePackageTesting
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestCreatePackageTestingRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestCreatePackageTestingRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v1/move:
    put:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: PutHarvestMove
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestMoveRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestMoveRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v1/removewaste:
    post:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: PostHarvestRemoveWaste
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestRemoveWasteRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestRemoveWasteRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v1/rename:
    put:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: PutHarvestRename
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestRenameRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutHarvestRenameRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v1/finish:
    post:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: PostHarvestFinish
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestFinishRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestFinishRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v1/unfinish:
    post:
      tags:
        - Harvest
      description: '<b>Permissions Required</b>: View Harvests'
      operationId: PostHarvestUnfinish
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestUnfinishRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostHarvestUnfinishRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/items/v1/{id}':
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Item will be validated against the specified License Number. If not specified, the Item will be validated against all of the User''s current Facilities. Please note that if the Item is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Item'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
    delete:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: DeleteItemById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /items/v1/active:
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemActive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active items.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Item'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /items/v1/inactive:
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemInactive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of inactive items.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Item'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /items/v1/categories:
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetItemCategories
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Categories will be retrived for the specified License Number. If not specified, the all Item Categories will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/ItemCategory'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /items/v1/brands:
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemBrands
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active item brands.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/ItemBrand'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  '/items/v1/photo/{id}':
    get:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: GetItemPhotoById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: The file system id of the image to return.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Photo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /items/v1/create:
    post:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: PostItemCreate
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemCreateRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemCreateRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /items/v1/update:
    post:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: PostItemUpdate
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemUpdateRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemUpdateRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /items/v1/photo:
    post:
      tags:
        - Item
      description: '<b>Permissions Required</b>: Manage Items'
      operationId: PostItemPhoto
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemPhotoRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostItemPhotoRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /labtests/v1/states:
    get:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetLabTestStates
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /labtests/v1/types:
    get:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetLabTestTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/LabTestType'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /labtests/v1/results:
    get:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages'
      operationId: GetLabTestResults
      parameters:
        - name: packageId
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/LabTest'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /labtests/v1/record:
    post:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory'
      operationId: PostLabTestRecord
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLabTestRecordRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLabTestRecordRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /labtests/v1/labtestdocument:
    put:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory'
      operationId: PutLabTestLabTestDocument
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutLabTestLabTestDocumentRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutLabTestLabTestDocumentRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /labtests/v1/results/release:
    put:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory'
      operationId: PutLabTestResultRelease
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutLabTestResultReleaseRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PutLabTestResultReleaseRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/labtests/v1/labtestdocument/{id}':
    get:
      tags:
        - LabTest
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory'
      operationId: GetLabTestLabTestDocumentById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: LabTestDocumentFileId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/LabTest'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  '/locations/v1/{id}':
    get:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: GetLocationById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Location will be validated against the specified License Number. If not specified, the Location will be validated against all of the User''s current Facilities. Please note that if the Location is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Location'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
    delete:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: DeleteLocationById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /locations/v1/active:
    get:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: GetLocationActive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active locations.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Location'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /locations/v1/types:
    get:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: GetLocationTypes
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active location types.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/LocationType'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /locations/v1/create:
    post:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: PostLocationCreate
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLocationCreateRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLocationCreateRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /locations/v1/update:
    post:
      tags:
        - Location
      description: '<b>Permissions Required</b>: Manage Locations'
      operationId: PostLocationUpdate
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLocationUpdateRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostLocationUpdateRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/packages/v1/{id}':
    get:
      tags:
        - Package
      description: '<b>Permissions Required</b>: View Packages'
      operationId: GetPackageById
      parameters:
        - name: id
          in: path
          description: Route parameter id
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Package will be validated against the specified License Number. If not specified, the Package will be validated against all of the User''s current Facilities. Please note that if the Package is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Package'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  '/packages/v1/{label}':
    get:
      tags:
        - Package
      description: '<b>Permissions Required</b>: View Packages'
      operationId: GetPackageByLabel
      parameters:
        - name: label
          in: path
          description: Route parameter label
          required: true
          schema:
            type: string
        - name: licenseNumber
          in: query
          description: 'If specified, the Package will be validated against the specified License Number. If not specified, the Package will be validated against all of the User''s current Facilities. Please note that if the Package is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Package'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /packages/v1/active:
    get:
      tags:
        - Package
      description: '<b>Permissions Required</b>: View Packages'
      operationId: GetPackageActive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active packages.
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Package'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /packages/v1/onhold:
    get:
      tags:
        - Package
      description: '<b>Permissions Required</b>: View Packages'
      operationId: GetPackageOnHold
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of packages on hold.
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Package'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /packages/v1/inactive:
    get:
      tags:
        - Package
      description: '<b>Permissions Required</b>: View Packages'
      operationId: GetPackageInactive
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of inactive packages.
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/Package'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /packages/v1/types:
    get:
      tags:
        - Package
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetPackageTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /packages/v1/adjust/reasons:
    get:
      tags:
        - Package
      description: '<b>Permissions Required</b>: <i>none</i>'
      operationId: GetPackageAdjustReasons
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/PackageAdjustReason'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
  /packages/v1/create:
    post:
      tags:
        - Package
      description: '<b>Permissions Required</b>: View Packages • Create/Submit/Discontinue Packages'
      operationId: PostPackageCreate
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostPackageCreateRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostPackageCreateRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /packages/v1/create/testing:
    post:
      tags:
        - Package
      description: '<b>Permissions Required</b>: View Packages • Create/Submit/Discontinue Packages'
      operationId: PostPackageCreateTesting
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostPackageCreateTestingRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostPackageCreateTestingRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /packages/v1/create/plantings:
    post:
      tags:
        - Package
      description: '<b>Permissions Required</b>: View Immature Plants • Manage Immature Plants • View Packages • Manage Packages Inventory'
      operationId: PostPackageCreatePlantings
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostPackageCreatePlantingsRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PostPackageCreatePlantingsRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /packages/v1/change/item:
    post:
      tags:
        - Package
      description: '<b>Permissions Required</b>: View Packages • Create/Submit/Discontinue Packages'
[...]
