openapi: 3.0.1
info:
  title: METRC API
  description: This document is created and maintained by the community and is designed to be a non-state specific specification. Please refer to your regions documentation for specific details and deviations. https://api-<state/province code>.metrc.com/documentation.Please keep in mind that there are rate limits and other terms of use enforced by Franwell (METRC). This document is only designed to give developers a standard used for code generation and testing.
  version: v2
servers:
  - url: https://api-ak.metrc.com
  - url: https://api-ca.metrc.com
  - url: https://api-co.metrc.com
  - url: https://api-dc.metrc.com
  - url: https://api-gu.metrc.com
  - url: https://api-la.metrc.com
  - url: https://api-ma.metrc.com
  - url: https://api-md.metrc.com
  - url: https://api-me.metrc.com
  - url: https://api-mi.metrc.com
  - url: https://api-mn.metrc.com
  - url: https://api-mo.metrc.com
  - url: https://api-ms.metrc.com
  - url: https://api-mt.metrc.com
  - url: https://api-nj.metrc.com
  - url: https://api-nv.metrc.com
  - url: https://api-oh.metrc.com
  - url: https://api-ok.metrc.com
  - url: https://api-or.metrc.com
  - url: https://api-ri.metrc.com
  - url: https://api-sd.metrc.com
  - url: https://api-wv.metrc.com
  - url: https://sandbox-api-ak.metrc.com
  - url: https://sandbox-api-ca.metrc.com
  - url: https://sandbox-api-co.metrc.com
  - url: https://sandbox-api-dc.metrc.com
  - url: https://sandbox-api-gu.metrc.com
  - url: https://sandbox-api-la.metrc.com
  - url: https://sandbox-api-ma.metrc.com
  - url: https://sandbox-api-md.metrc.com
  - url: https://sandbox-api-me.metrc.com
  - url: https://sandbox-api-mi.metrc.com
  - url: https://sandbox-api-mn.metrc.com
  - url: https://sandbox-api-mo.metrc.com
  - url: https://sandbox-api-ms.metrc.com
  - url: https://sandbox-api-mt.metrc.com
  - url: https://sandbox-api-nj.metrc.com
  - url: https://sandbox-api-nv.metrc.com
  - url: https://sandbox-api-oh.metrc.com
  - url: https://sandbox-api-ok.metrc.com
  - url: https://sandbox-api-or.metrc.com
  - url: https://sandbox-api-ri.metrc.com
  - url: https://sandbox-api-sd.metrc.com
  - url: https://sandbox-api-wv.metrc.com
paths:
  '/caregivers/v2/status/{caregiverLicenseNumber}':
    get:
      tags:
        - Caregiver
      summary: Data returned by this endpoint is cached for up to one minute
      description: '<b>Permissions Required</b>: Lookup Caregivers</br><b>Available In</b>: gu, mn, ms, nj, ri, sd'
      operationId: GetCaregiverStatus
      parameters:
        - name: caregiverLicenseNumber
          in: path
          description: The license number of the Caregiver.
          required: true
          schema:
            type: string
        - name: licenseNumber
          in: query
          description: The license number of the Facility under which to get the Caregiver status.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CaregiverStatus'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /employees/v2:
    get:
      tags:
        - Employee
      summary: Get all employees for a license
      description: '<b>Permissions Required</b>: Manage Employees</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetEmployees
      parameters:
        - name: licenseNumber
          in: query
          description: The license must have `IsOwner` equal true.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/EmployeeMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /facilities/v2:
    get:
      tags:
        - Facility
      summary: 'A Facility represents a building licensed for the growing, processing, and/or selling of product'
      description: 'This endpoint provides a list of facilities for which the authenticated user has access.</br><b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetFacilities
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/FacilityMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  '/harvests/v2/{id}':
    get:
      tags:
        - Harvest
      summary: Get a specific harvest by id
      description: '<b>Permissions Required</b>: View Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetHarvestById
      parameters:
        - name: id
          in: path
          description: Harvest ID
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Harvest'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /harvests/v2/active:
    get:
      tags:
        - Harvest
      summary: Get harvests in an active status
      description: '<b>Permissions Required</b>: View Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetActiveHarvests
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active harvests.  License <code>CanGrowPlants</code>
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /harvests/v2/onhold:
    get:
      tags:
        - Harvest
      summary: Get harvests in an onhold status
      description: '<b>Permissions Required</b>: View Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetOnHoldHarvests
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of onhold harvests.  License <code>CanGrowPlants</code>
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /harvests/v2/inactive:
    get:
      tags:
        - Harvest
      summary: Get harvests in an inactive status
      description: '<b>Permissions Required</b>: View Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetInactiveHarvests
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of inactive harvests.  License <code>CanGrowPlants</code>
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /harvests/v2/waste:
    get:
      tags:
        - Harvest
      summary: Get harvests waste
      description: '<b>Permissions Required</b>: View Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetHarvestWaste
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestWasteMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
    post:
      tags:
        - Harvest
      summary: Remove waste from a harvest
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: RemoveHarvestWaste
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RemoveWasteRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RemoveWasteRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/waste/types:
    get:
      tags:
        - Harvest
      summary: Get harvests waste types
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetHarvestWasteTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/HarvestWasteTypeMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /harvests/v2/packages:
    post:
      tags:
        - Harvest
      summary: Create packages for one or more harvests
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests • View Packages • Create/Submit/Discontinue Packages</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: CreateHarvestPackage
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateHarvestPackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateHarvestPackageRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/packages/testing:
    post:
      tags:
        - Harvest
      summary: Create packages for one or more harvests for testing
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests • View Packages • Create/Submit/Discontinue Packages</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: CreateHarvestPackageTesting
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateHarvestPackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateHarvestPackageRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/location:
    put:
      tags:
        - Harvest
      summary: Move a harvest to a new room
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: MoveHarvest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoveHarvestRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoveHarvestRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/rename:
    put:
      tags:
        - Harvest
      summary: Rename a harvest
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: RenameHarvest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RenameHarvestRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RenameHarvestRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/finish:
    put:
      tags:
        - Harvest
      summary: Finish a harvest
      description: '<b>Permissions Required</b>: View Harvests • Finish/Discontinue Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: FinishHarvest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FinishHarvestRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FinishHarvestRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/unfinish:
    put:
      tags:
        - Harvest
      summary: Unfinish a harvest
      description: '<b>Permissions Required</b>: View Harvests • Finish/Discontinue Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: UnfinishHarvest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UnfinishHarvestRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UnfinishHarvestRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /harvests/v2/restore/harvestedplants:
    put:
      tags:
        - Harvest
      summary: Restore harvested plants
      description: '<b>Permissions Required</b>: View Harvests • Finish/Discontinue Harvests</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: RestoreHarvestedPlants
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RestoreHarvestedPlantsRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RestoreHarvestedPlantsRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/harvests/v2/waste/{id}':
    delete:
      tags:
        - Harvest
      summary: Delete Harvest Waste
      description: '<b>Permissions Required</b>: View Harvests • Discontinue Harvest Waste</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: DeleteWaste
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/items/v2/{id}':
    get:
      tags:
        - Item
      summary: Get a specific item by id
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetItemById
      parameters:
        - name: id
          in: path
          description: Item ID
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Item will be validated against the specified License Number. If not specified, the Item will be validated against all of the User''s current Facilities. Please note that if the Item is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Item'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
    delete:
      tags:
        - Item
      summary: Delete an item
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: DeleteItem
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Item ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /items/v2/active:
    get:
      tags:
        - Item
      summary: Get active items
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetActiveItems
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active items.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ItemMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /items/v2/inactive:
    get:
      tags:
        - Item
      summary: Get inactive items
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetInactiveItems
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of inactive items.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ItemMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /items/v2/categories:
    get:
      tags:
        - Item
      summary: Get item categories
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetItemCategories
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Categories will be retrieved for the specified License Number. If not specified, the all Item Categories will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ItemCategoryMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /items/v2/brands:
    get:
      tags:
        - Item
      summary: Get item brands
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetItemBrands
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active item brands.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ItemBrandMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  '/items/v2/photo/{id}':
    get:
      tags:
        - Item
      summary: Get item photo
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetItemPhoto
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the item photo.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Photo'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /items/v2:
    post:
      tags:
        - Item
      summary: Create items
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: CreateItem
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateItemRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateItemRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
    put:
      tags:
        - Item
      summary: Update items
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: UpdateItem
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateItemRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateItemRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /items/v2/photo:
    post:
      tags:
        - Item
      summary: Create Photo
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: CreatePhoto
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePhotoRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePhotoRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/items/v2/brand/{id}':
    delete:
      tags:
        - Item
      summary: Delete a brand
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: DeleteItemBrand
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Brand ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /items/v2/brand:
    post:
      tags:
        - Item
      summary: Create brands
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: CreateBrand
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateBrandRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateBrandRequest'
        required: true
      responses:
        '200':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
    put:
      tags:
        - Item
      summary: Update brands
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: UpdateBrand
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateBrandRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateBrandRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /labtests/v2/states:
    get:
      tags:
        - LabTest
      summary: Get all lab test states
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetLabTestStates
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /labtests/v2/batches:
    get:
      tags:
        - LabTest
      summary: Get all lab test batches
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetLabTestBatches
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  oneOf:
                    - $ref: '#/components/schemas/LabTestBatch'
                nullable: true
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /labtests/v2/types:
    get:
      tags:
        - LabTest
      summary: Get all lab test types
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetLabTestTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LabTestTypeMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /labtests/v2/results:
    get:
      tags:
        - LabTest
      summary: Get lab test results for a package
      description: '<b>Permissions Required</b>: View Packages</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetLabTestResults
      parameters:
        - name: packageId
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LabTestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /labtests/v2/record:
    post:
      tags:
        - LabTest
      summary: Upload the lab test results
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: RecordLabTest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateLabTestResultRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateLabTestResultRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /labtests/v2/labtestdocument:
    put:
      tags:
        - LabTest
      summary: Update lab test documents
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: UpdateLabTestDocument
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateLabTestDocumentRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateLabTestDocumentRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /labtests/v2/results/release:
    put:
      tags:
        - LabTest
      summary: Release lab test results
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: ReleaseLabTestResults
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ReleaseLabTestResultsRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ReleaseLabTestResultsRequest'
        required: true
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  '/labtests/v2/labtestdocument/{id}':
    get:
      tags:
        - LabTest
      summary: Get lab test document
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetLabTestDocument
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LabTestMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  '/locations/v2/{id}':
    get:
      tags:
        - Location
      summary: Get a specific location by id
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetLocationById
      parameters:
        - name: id
          in: path
          description: Location ID
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Location will be validated against the specified License Number. If not specified, the Location will be validated against all of the User''s current Facilities. Please note that if the Location is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/Location'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
    delete:
      tags:
        - Location
      summary: Delete an location
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: DeleteLocation
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Location ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
  /locations/v2/active:
    get:
      tags:
        - Location
      summary: Get active locations
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetActiveLocations
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active locations.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LocationMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /locations/v2/inactive:
    get:
      tags:
        - Location
      summary: Get active locations
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetInactiveLocations
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active locations.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LocationMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
  /locations/v2/types:
    get:
      tags:
        - Location
      summary: Get location types
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ca, co, dc, gu, la, me, md, ma, mi, mn, ms, mo, mt, nv, nj, oh, ok, or, ri, sd, wv'
      operationId: GetLocationTypes
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active location types.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/LocationTypeMetrcWrapper'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                nullable: true
        '503':
          description: Server Error
[...]
