openapi: 3.0.1
info:
  title: METRC API
  description: This document is created and maintained by the community and is designed to be a non-state specific specification. Please refer to your regions documentation for specific details and deviations. https://api-<state/province code>.metrc.com/documentation.Please keep in mind that there are rate limits and other terms of use enforced by Franwell (METRC). This document is only designed to give developers a standard used for code generation and testing.
  version: v1
servers:
  - url: https://api-ak.metrc.com
  - url: https://api-ca.metrc.com
  - url: https://api-co.metrc.com
  - url: https://api-dc.metrc.com
  - url: https://api-la.metrc.com
  - url: https://api-ma.metrc.com
  - url: https://api-md.metrc.com
  - url: https://api-me.metrc.com
  - url: https://api-mi.metrc.com
  - url: https://api-mo.metrc.com
  - url: https://api-mt.metrc.com
  - url: https://api-nv.metrc.com
  - url: https://api-oh.metrc.com
  - url: https://api-ok.metrc.com
  - url: https://api-or.metrc.com
  - url: https://api-wv.metrc.com
  - url: https://sandbox-api-ak.metrc.com
  - url: https://sandbox-api-ca.metrc.com
  - url: https://sandbox-api-co.metrc.com
  - url: https://sandbox-api-dc.metrc.com
  - url: https://sandbox-api-la.metrc.com
  - url: https://sandbox-api-ma.metrc.com
  - url: https://sandbox-api-md.metrc.com
  - url: https://sandbox-api-me.metrc.com
  - url: https://sandbox-api-mi.metrc.com
  - url: https://sandbox-api-mo.metrc.com
  - url: https://sandbox-api-mt.metrc.com
  - url: https://sandbox-api-nv.metrc.com
  - url: https://sandbox-api-oh.metrc.com
  - url: https://sandbox-api-ok.metrc.com
  - url: https://sandbox-api-or.metrc.com
  - url: https://sandbox-api-wv.metrc.com
paths:
  /employees/v1:
    get:
      tags:
        - Employee
      summary: Get all employees for a license
      description: '<b>Permissions Required</b>: Manage Employees</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetEmployees
      parameters:
        - name: licenseNumber
          in: query
          description: The license must have `IsOwner` equal true.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Employee'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /facilities/v1:
    get:
      tags:
        - Facility
      summary: 'A Facility represents a building licensed for the growing, processing, and/or selling of product'
      description: 'This endpoint provides a list of facilities for which the authenticated user has access.</br><b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetFacilities
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Facility'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  '/harvests/v1/{id}':
    get:
      tags:
        - Harvest
      summary: Get a specific harvest by id
      description: '<b>Permissions Required</b>: View Harvests</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetHarvestById
      parameters:
        - name: id
          in: path
          description: Harvest ID
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Harvest will be validated against the specified License Number. If not specified, the Harvest will be validated against all of the User''s current Facilities. Please note that if the Harvest is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Harvest'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /harvests/v1/active:
    get:
      tags:
        - Harvest
      summary: Get harvests in an active status
      description: '<b>Permissions Required</b>: View Harvests</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetActiveHarvests
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active harvests.  License <code>CanGrowPlants</code>
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Harvest'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /harvests/v1/onhold:
    get:
      tags:
        - Harvest
      summary: Get harvests in an onhold status
      description: '<b>Permissions Required</b>: View Harvests</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetOnHoldHarvests
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of onhold harvests.  License <code>CanGrowPlants</code>
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Harvest'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /harvests/v1/inactive:
    get:
      tags:
        - Harvest
      summary: Get harvests in an inactive status
      description: '<b>Permissions Required</b>: View Harvests</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetInactiveHarvests
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of inactive harvests.  License <code>CanGrowPlants</code>
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Harvest'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /harvests/v1/waste/types:
    get:
      tags:
        - Harvest
      summary: Get harvests waste types
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetHarvestWasteTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HarvestWasteType'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /harvests/v1/create/packages:
    post:
      tags:
        - Harvest
      summary: Create packages for one or more harvests
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests • View Packages • Create/Submit/Discontinue Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: CreateHarvestPackage
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateHarvestPackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateHarvestPackageRequest'
        required: true
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /harvests/v1/create/packages/testing:
    post:
      tags:
        - Harvest
      summary: Create packages for one or more harvests for testing
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests • View Packages • Create/Submit/Discontinue Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: CreateHarvestPackageTesting
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateHarvestPackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateHarvestPackageRequest'
        required: true
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /harvests/v1/move:
    put:
      tags:
        - Harvest
      summary: Move a harvest to a new room
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: MoveHarvest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoveHarvestRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoveHarvestRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /harvests/v1/removewaste:
    post:
      tags:
        - Harvest
      summary: Remove waste from a harvest
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: RemoveHarvestWaste
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RemoveWasteRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RemoveWasteRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /harvests/v1/rename:
    put:
      tags:
        - Harvest
      summary: Rename a harvest
      description: '<b>Permissions Required</b>: View Harvests • Manage Harvests</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: RenameHarvest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RenameHarvestRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RenameHarvestRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /harvests/v1/finish:
    post:
      tags:
        - Harvest
      summary: Finish a harvest
      description: '<b>Permissions Required</b>: View Harvests • Finish/Discontinue Harvests</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: FinishHarvest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FinishHarvestRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FinishHarvestRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /harvests/v1/unfinish:
    post:
      tags:
        - Harvest
      summary: Unfinish a harvest
      description: '<b>Permissions Required</b>: View Harvests • Finish/Discontinue Harvests</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: UnfinishHarvest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UnfinishHarvestRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UnfinishHarvestRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/items/v1/{id}':
    get:
      tags:
        - Item
      summary: Get a specific item by id
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetItemById
      parameters:
        - name: id
          in: path
          description: Item ID
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Item will be validated against the specified License Number. If not specified, the Item will be validated against all of the User''s current Facilities. Please note that if the Item is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Item'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
    delete:
      tags:
        - Item
      summary: Delete an item
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: DeleteItem
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Item ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /items/v1/active:
    get:
      tags:
        - Item
      summary: Get active items
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetActiveItems
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active items.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /items/v1/categories:
    get:
      tags:
        - Item
      summary: Get item categories
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetItemCategories
      parameters:
        - name: licenseNumber
          in: query
          description: 'If specified, the Categories will be retrieved for the specified License Number. If not specified, the all Item Categories will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ItemCategory'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /items/v1/brands:
    get:
      tags:
        - Item
      summary: Get item brands
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetItemBrands
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active item brands.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ItemBrand'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /items/v1/create:
    post:
      tags:
        - Item
      summary: Create items
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: CreateItem
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateItemRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateItemRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /items/v1/update:
    post:
      tags:
        - Item
      summary: Update items
      description: '<b>Permissions Required</b>: Manage Items</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: UpdateItem
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateItemRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateItemRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /labtests/v1/states:
    get:
      tags:
        - LabTest
      summary: Get all lab test states
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetLabTestStates
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /labtests/v1/types:
    get:
      tags:
        - LabTest
      summary: Get all lab test types
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetLabTestTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LabTestType'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /labtests/v1/results:
    get:
      tags:
        - LabTest
      summary: Get lab test results for a package
      description: '<b>Permissions Required</b>: View Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetLabTestResults
      parameters:
        - name: packageId
          in: query
          required: true
          schema:
            type: integer
            format: int32
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LabTest'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /labtests/v1/record:
    post:
      tags:
        - LabTest
      summary: Upload the lab test results
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: RecordLabTest
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateLabTestResultRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateLabTestResultRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /labtests/v1/labtestdocument:
    put:
      tags:
        - LabTest
      summary: Update lab test documents
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: UpdateLabTestDocument
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateLabTestDocumentRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateLabTestDocumentRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /labtests/v1/results/release:
    put:
      tags:
        - LabTest
      summary: Release lab test results
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: ReleaseLabTestResults
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ReleaseLabTestResultsRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ReleaseLabTestResultsRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/locations/v1/{id}':
    get:
      tags:
        - Location
      summary: Get a specific location by id
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetLocationById
      parameters:
        - name: id
          in: path
          description: Location ID
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Location will be validated against the specified License Number. If not specified, the Location will be validated against all of the User''s current Facilities. Please note that if the Location is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
    delete:
      tags:
        - Location
      summary: Delete an location
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: DeleteLocation
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Location ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /locations/v1/active:
    get:
      tags:
        - Location
      summary: Get active locations
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetActiveLocations
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active locations.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /locations/v1/types:
    get:
      tags:
        - Location
      summary: Get location types
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetLocationTypes
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active location types.
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationType'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /locations/v1/create:
    post:
      tags:
        - Location
      summary: Create locations
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: CreateLocation
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateLocationRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateLocationRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /locations/v1/update:
    post:
      tags:
        - Location
      summary: Update locations
      description: '<b>Permissions Required</b>: Manage Locations</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: UpdateLocation
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateLocationRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateLocationRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/packages/v1/{id}':
    get:
      tags:
        - Package
      summary: Get a specific package by id
      description: '<b>Permissions Required</b>: View Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetPackageById
      parameters:
        - name: id
          in: path
          description: Package ID
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Package will be validated against the specified License Number. If not specified, the Package will be validated against all of the User''s current Facilities. Please note that if the Package is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  '/packages/v1/{label}':
    get:
      tags:
        - Package
      summary: Get a specific package by label
      description: '<b>Permissions Required</b>: View Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetPackageByLabel
      parameters:
        - name: label
          in: path
          description: Package Label
          required: true
          schema:
            type: string
        - name: licenseNumber
          in: query
          description: 'If specified, the Package will be validated against the specified License Number. If not specified, the Package will be validated against all of the User''s current Facilities. Please note that if the Package is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Package'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /packages/v1/active:
    get:
      tags:
        - Package
      summary: Get packages in an active status
      description: '<b>Permissions Required</b>: View Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetActivePackages
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active packages.
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /packages/v1/onhold:
    get:
      tags:
        - Package
      summary: Get packages in an onhold status
      description: '<b>Permissions Required</b>: View Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetOnHoldPackages
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of onhold packages.
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /packages/v1/inactive:
    get:
      tags:
        - Package
      summary: Get packages in an inactive status
      description: '<b>Permissions Required</b>: View Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetInactivePackages
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of inactive packages.
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Package'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /packages/v1/types:
    get:
      tags:
        - Package
      summary: Get package types
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetPackageTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /packages/v1/adjust/reasons:
    get:
      tags:
        - Package
      summary: Get package adjust reasons
      description: '<b>Permissions Required</b>: <i>none</i></br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetPackageAdjustReasons
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of inactive packages.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageAdjustReason'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /packages/v1/create:
    post:
      tags:
        - Package
      summary: Create packages
      description: '<b>Permissions Required</b>: View Packages • Create/Submit/Discontinue Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: CreatePackage
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePackageRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/v1/create/testing:
    post:
      tags:
        - Package
      summary: Create testing packages
      description: '<b>Permissions Required</b>: View Packages • Create/Submit/Discontinue Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: CreateTestingPackage
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePackageRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/v1/create/plantings:
    post:
      tags:
        - Package
      summary: Create package plantings
      description: '<b>Permissions Required</b>: View Immature Plants • Manage Immature Plants • View Packages • Manage Packages Inventory</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: CreatePackagePlanting
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePackagePlantingRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePackagePlantingRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/v1/change/item:
    post:
      tags:
        - Package
      summary: Change the package item
      description: '<b>Permissions Required</b>: View Packages • Create/Submit/Discontinue Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: ChangePackageItem
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ChangePackageItemRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ChangePackageItemRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/v1/change/note:
    put:
      tags:
        - Package
      summary: Update a package note
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory • Manage Package Notes</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: ChangePackageNote
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ChangePackageNoteRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ChangePackageNoteRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/v1/change/locations:
    post:
      tags:
        - Package
      summary: Change a package location
      description: '<b>Permissions Required</b>: View Packages • Create/Submit/Discontinue Packages</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: ChangePackageLocation
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ChangePackageLocationRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/ChangePackageLocationRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/v1/adjust:
    post:
      tags:
        - Package
      summary: Adjust packages
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: AdjustPackage
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdjustPackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AdjustPackageRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/v1/finish:
    post:
      tags:
        - Package
      summary: Finish packages
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: FinishPackage
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FinishPackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FinishPackageRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/v1/unfinish:
    post:
      tags:
        - Package
      summary: Unfinish packages
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: UnfinishPackage
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UnfinishPackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UnfinishPackageRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /packages/v1/remediate:
    post:
      tags:
        - Package
      summary: Remediate packages
      description: '<b>Permissions Required</b>: View Packages • Manage Packages Inventory</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: RemediatePackage
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RemediatePackageRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RemediatePackageRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/patients/v1/{id}':
    get:
      tags:
        - Patient
      summary: Get a specific patient by id
      description: '<b>Permissions Required</b>: Manage Patients</br><b>Available In</b>: co, la, ma, mt, nv, ok, wv'
      operationId: GetPatientById
      parameters:
        - name: id
          in: path
          description: Patient ID
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Patient will be validated against the specified License Number. If not specified, the Patient will be validated against all of the User''s current Facilities. Please note that if the Patient is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
    delete:
      tags:
        - Patient
      summary: Delete an patient
      description: '<b>Permissions Required</b>: Manage Patients</br><b>Available In</b>: co, la, ma, mt, nv, ok, wv'
      operationId: DeletePatient
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
        - name: id
          in: path
          description: Patient ID
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /patients/v1/active:
    get:
      tags:
        - Patient
      summary: Get active patients
      description: '<b>Permissions Required</b>: Manage Patients</br><b>Available In</b>: co, la, ma, mt, nv, ok, wv'
      operationId: GetActivePatients
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of active patients.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Patient'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  '/patients/v1/statuses/{patientLicenseNumber}':
    get:
      tags:
        - Patient
      summary: Get patient status. Data returned by this endpoint is cached for up to one minute
      description: '<b>Permissions Required</b>: Lookup Patients</br><b>Available In</b>: co, dc, md, mi, mo, mt, wv'
      operationId: GetPatientStatus
      parameters:
        - name: patientLicenseNumber
          in: path
          required: true
          schema:
            type: string
        - name: licenseNumber
          in: query
          description: The license number of the Facility under which to get the Patient Status.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Patient'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /patients/v1/add:
    post:
      tags:
        - Patient
      summary: Create patients
      description: '<b>Permissions Required</b>: Manage Patients</br><b>Available In</b>: co, la, ma, mt, nv, ok, wv'
      operationId: CreatePatient
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePatientRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreatePatientRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /patients/v1/update:
    post:
      tags:
        - Patient
      summary: Update patients
      description: '<b>Permissions Required</b>: Manage Patients</br><b>Available In</b>: co, la, ma, mt, nv, ok, wv'
      operationId: UpdatePatient
      parameters:
        - name: licenseNumber
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdatePatientRequest'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdatePatientRequest'
      responses:
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  '/plants/v1/{id}':
    get:
      tags:
        - Plant
      summary: Get a specific plant by id
      description: '<b>Permissions Required</b>: View Veg/Flower Plants</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetPlantById
      parameters:
        - name: id
          in: path
          description: Plant ID
          required: true
          schema:
            type: integer
            format: int64
        - name: licenseNumber
          in: query
          description: 'If specified, the Plant will be validated against the specified License Number. If not specified, the Plant will be validated against all of the User''s current Facilities. Please note that if the Plant is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plant'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  '/plants/v1/{label}':
    get:
      tags:
        - Plant
      summary: Get a specific plant by label
      description: '<b>Permissions Required</b>: View Veg/Flower Plants</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetPlantByLabel
      parameters:
        - name: label
          in: path
          description: Plant Label
          required: true
          schema:
            type: string
        - name: licenseNumber
          in: query
          description: 'If specified, the Plant will be validated against the specified License Number. If not specified, the Plant will be validated against all of the User''s current Facilities. Please note that if the Plant is not valid for the specified License Number, a 401 Unauthorized status will be returned.'
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Plant'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /plants/v1/vegetative:
    get:
      tags:
        - Plant
      summary: Get plants in an vegetating status
      description: '<b>Permissions Required</b>: View Veg/Flower Plants</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetVegetativePlants
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of vegetating plants.
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plant'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /plants/v1/flowering:
    get:
      tags:
        - Plant
      summary: Get plants in an flowering status
      description: '<b>Permissions Required</b>: View Veg/Flower Plants</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetFloweringPlants
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of flowering plants.
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Plant'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Client Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
  /plants/v1/onhold:
    get:
      tags:
        - Plant
      summary: Get plants in an onhold status
      description: '<b>Permissions Required</b>: View Veg/Flower Plants</br><b>Available In</b>: ak, ca, co, dc, la, me, md, ma, mi, mo, mt, nv, oh, ok, or, wv'
      operationId: GetOnHoldPlants
      parameters:
        - name: licenseNumber
          in: query
          description: The license number of the facility for which to return the list of onhold plants.
          required: true
          schema:
            type: string
        - name: lastModifiedStart
          in: query
          description: The last modified start timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
        - name: lastModifiedEnd
          in: query
          description: The last modified end timestamp
          schema:
            pattern: '([0-9]{4})-(?:[0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})Z'
            type: string
            description: The date is in ISO 8601 date format yyyy-mm-ddThh:mm:ssZ.
            format: date-time
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
[...]
